<nav role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Bianca Spizzirri</a>
      </div>
      <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="http://biancaspizzirrigh.github.io/otherProjects/codeAcademy/index.html">Code Academy Badges</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="otherProjects/twitterbootstrap/index.html">JS Questions<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="http://biancaspizzirrigh.github.io/otherProjects/jsquestions/week3q1.html">Week 3 Q1</a></li>
                          <li><a href="http://biancaspizzirrigh.github.io/otherProjects/jsquestions/week3q2.html">Week 3 Q2 JS</a></li>
                          <li><a href="http://biancaspizzirrigh.github.io/otherProjects/jsquestions/week3q3.html">Week 3 Q3 JS</a></li>
                          <li><a href="http://biancaspizzirrigh.github.io/otherProjects/jsquestions/weel3q4.html">Week 3 Q4 JS</a></li>
                          <li><a href="http://biancaspizzirrigh.github.io/otherProjects/jsquestions/week5.html">Week 5 JS</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="otherProjects/twitterbootstrap/index.html">Bootstrap Pages<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="http://biancaspizzirrigh.github.io/otherProjects/twitterbootstrap/carousel.html">Carousel</a></li>
                            <li><a href="http://biancaspizzirrigh.github.io/otherProjects/twitterbootstrap/index.html">Week 3</a></li>

                        </ul>
                    </li>
                    <li><a href="http://biancaspizzirrigh.github.io/otherProjects/ticTacToe/index.html">Tic Tac Toe</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">takeAnOrder Pages<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="http://biancaspizzirrigh.github.io/otherProjects/takeAnOrder/takeAnOrderRegular.html">HTML Page</a></li>
                            <li><a href="http://biancaspizzirrigh.github.io/otherProjects/takeAnOrder/takeAnOrderBootstrap.html">Bootstrap Page</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
</nav>